.card-slider {
  padding: 1rem;
  background-color: #0a0a0a;
  color: white;

}

.card-slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;

}

.card-slider-container h1 {
  font-size: 1.2rem;
  
  margin: 0 auto;
  
}

.buttons-container {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}

.movies-container {
  display: flex;
  justify-content: center;
}

.movies-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
}

.movies-wrapper > div {
  width: calc((100% - 4.5rem) / 4); /* 3 gaps * 1.5rem */
  flex-shrink: 0;
}